<div class="container footer-cont">
  <footer class="d-flex flex-row justify-content-center align-items-center container-fluid p-0 m-0 ">

    <div class=" d-flex flex-column justify-content-center align-items-center">
      <img class="my-5" src="/assets/footerLogo.png" alt="" width="130px">
      <div class="">
        <p>Sign up for our newsletter to stay updated on the latest adventures and special offers!</p>
      <form action="">
        <input type="email" name="email" placeholder="Email : example@gmail.com">
      </form>
      </div>
    </div>

    <div class=" m-5">
      <p class="fw-bold">letsVenture is your gateway to unforgettable adventures across Jordan. We make it simple to explore, book, and experience the best outdoor activities the country has to offer, from scenic hikes to thrilling water sports. Our platform connects you with trusted local hosts, ensuring every journey is unique and memorable. Start your adventure today with letsVenture!</p>
      <div class="d-flex flex-row justify-content-between flex-wrap">
        <div class="quick-links">
          <p>Quick Links</p>
          <div class="links d-flex flex-column">
            <a href="">Home</a>
            <a href="">Adventures</a>
            <a href="">About Us</a>
          </div>
        </div>

        <div class="contact-info">
          <p>Contact Informations</p>
          <div class="info  d-flex flex-column">
            <a href="">Phone: +1 234 567 8901</a>
            <a href="">Email: info@example.com</a>
            <a href="">Address: 123 Main St, City, State, Zip</a>
          </div>
        </div>
        
        <div class="follow-us">
          <p >Follow Us</p>
          <div class="d-flex flex-column socials">
            <div>
              <i class="bi bi-facebook me-2"></i> <a href="#">Facebook</a>
            </div>
            <div>
              <i class="bi bi-twitter me-2"></i> <a href="#">Twitter</a>
            </div>
            <div>
              <i class="bi bi-instagram me-2"></i> <a href="#">Instagram</a>
            </div>

         </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  