<nav
      class="navbar navbar-expand-lg navbar-light shadow-sm py-1 fixed-top bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand custom-navbar" href="#">
          <img src="/assets/logo.png" alt="Logo" width="85" />
          LetsVenture
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul
            class="navbar-nav mx-auto p-2 gap-lg-5"
            style="
              -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px);
            "
          >
            <li class="nav-item">
              <a class="nav-link main-color fw-semibold fs-6" href="/HomePage/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link main-color fw-semibold fs-6" href="/AdventuresPage/index.html"
                >Adventures</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link main-color fw-semibold fs-6" href="/AboutUsPage/index.html"
                >About Us</a
              >
            </li>
          </ul>
          <div class="d-flex gap-3">
            <a href="/LoginAndSignUp Pages/login.html" class="btn login-button">Login</a>
            <a href="/LoginAndSignUp Pages/signUp.html" class="btn signUp-button">Sign Up</a>
          </div>
        </div>
      </div>
    </nav>